In [36]:
import pandas as pd
import numpy as np
%matplotlib inline
import config 
import sql_con
import requests
import json
import csv
from datetime import datetime

In [37]:
# get module variables
ROOT_DIR = config.ROOT_DIR
select_records = sql_con.select_records
insert_records = sql_con.insert_records
update_records = sql_con.update_records
conn_odbc = sql_con.conn_odbc
read_contents = sql_con.read_contents

In [38]:
# make request to cryptocompare api to get historical data for bitcoin quote prices in USD
url = "https://min-api.cryptocompare.com/data/histoday?fsym=BTC&tsym=USD&allData=true"
headers = {
  "authorization": f"Apikey {config.API_KEY}",
}

res1 = requests.get(url, headers=headers)

In [39]:
# get data from json response and normalize it into a pandas dataframe
res1_json = res1.json()
pd.json_normalize(res1_json["Data"])

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1279324800,0.04951,0.04951,0.04951,20.00,9.902000e-01,0.04951,direct,
1,1279411200,0.08585,0.05941,0.04951,75.01,5.092000e+00,0.08584,direct,
2,1279497600,0.09307,0.07723,0.08584,574.00,4.966000e+01,0.08080,direct,
3,1279584000,0.08181,0.07426,0.08080,262.00,2.059000e+01,0.07474,direct,
4,1279670400,0.07921,0.06634,0.07474,575.00,4.226000e+01,0.07921,direct,
...,...,...,...,...,...,...,...,...,...
4632,1679529600,28810.23000,27188.53000,27317.37000,69232.03,1.938232e+09,28345.69000,direct,
4633,1679616000,28417.00000,27047.96000,28345.69000,56653.76,1.580517e+09,27491.73000,direct,
4634,1679702400,27810.74000,27188.56000,27491.73000,26897.42,7.398358e+08,27493.43000,direct,
4635,1679788800,28212.64000,27447.43000,27493.43000,29291.76,8.151863e+08,27996.81000,direct,
4636,1679875200,28009.36000,27956.58000,27996.81000,434.77,1.216562e+07,27964.25000,direct,