In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import config 
import sql_con
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

In [2]:
# get module variables
ROOT_DIR = config.ROOT_DIR
select_records = sql_con.select_records
insert_records = sql_con.insert_records
update_records = sql_con.update_records
conn_odbc = sql_con.conn_odbc
read_contents = sql_con.read_contents

In [3]:
url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': config.API_KEY,
}

session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [4]:
df = pd.json_normalize(data['data'])

In [5]:
df["ingestion_date"] = pd.to_datetime("now", utc=True)

In [6]:
df.head()

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote.USD.market_cap_dominance,quote.USD.fully_diluted_market_cap,quote.USD.tvl,quote.USD.last_updated,platform.id,platform.name,platform.symbol,platform.slug,platform.token_address,ingestion_date
0,1,Bitcoin,BTC,bitcoin,9989,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.0,1.930113e+07,1.930113e+07,...,42.0544,4.861276e+11,NaN,2023-02-25T02:29:00.000Z,NaN,NaN,NaN,NaN,NaN,2023-02-25 02:32:09.988510+00:00
1,1027,Ethereum,ETH,ethereum,6496,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.223739e+08,1.223739e+08,...,18.4475,1.957891e+11,NaN,2023-02-25T02:29:00.000Z,NaN,NaN,NaN,NaN,NaN,2023-02-25 02:32:09.988510+00:00
2,825,Tether,USDT,tether,48301,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,7.079823e+10,7.314177e+10,...,6.6661,7.314897e+10,NaN,2023-02-25T02:29:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7,2023-02-25 02:32:09.988510+00:00
3,1839,BNB,BNB,bnb,1195,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,1.578962e+08,1.599800e+08,...,4.4857,4.828703e+10,NaN,2023-02-25T02:29:00.000Z,NaN,NaN,NaN,NaN,NaN,2023-02-25 02:32:09.988510+00:00
4,3408,USD Coin,USDC,usd-coin,10325,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",NaN,4.247909e+10,4.247909e+10,...,3.9992,4.246851e+10,NaN,2023-02-25T02:29:00.000Z,1027.0,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,2023-02-25 02:32:09.988510+00:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 36 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   id                                  5000 non-null   int64
 1   name                                5000 non-null   object
 2   symbol                              5000 non-null   object
 3   slug                                5000 non-null   object
 4   num_market_pairs                    5000 non-null   int64
 5   date_added                          5000 non-null   object
 6   tags                                5000 non-null   object
 7   max_supply                          3516 non-null   float64
 8   circulating_supply                  5000 non-null   float64
 9   total_supply                        5000 non-null   float64
 10  platform                            0 non-null      float64
 11  cmc_rank                            5000 non-null   int64
 12  self_reported_circulating_supply    2156 non-null   float64
 13  self_reported_market_cap            2156 non-null   float64
 14  tvl_ratio                           90 non-null     float64
 15  last_updated                        5000 non-null   object
 16  quote.USD.price                     5000 non-null   float64
 17  quote.USD.volume_24h                5000 non-null   float64
 18  quote.USD.volume_change_24h         5000 non-null   float64
 19  quote.USD.percent_change_1h         5000 non-null   float64
 20  quote.USD.percent_change_24h        5000 non-null   float64
 21  quote.USD.percent_change_7d         5000 non-null   float64
 22  quote.USD.percent_change_30d        5000 non-null   float64
 23  quote.USD.percent_change_60d        5000 non-null   float64
 24  quote.USD.percent_change_90d        5000 non-null   float64
 25  quote.USD.market_cap                5000 non-null   float64
 26  quote.USD.market_cap_dominance      5000 non-null   float64
 27  quote.USD.fully_diluted_market_cap  5000 non-null   float64
 28  quote.USD.tvl                       97 non-null     float64
 29  quote.USD.last_updated              5000 non-null   object
 30  platform.id                         4019 non-null   float64
 31  platform.name                       4019 non-null   object
 32  platform.symbol                     4019 non-null   object
 33  platform.slug                       4019 non-null   object
 34  platform.token_address              4019 non-null   object
 35  ingestion_date                      5000 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(21), int64(3), object(11)
memory usage: 1.4+ MB